:root {
  --basic-black: #000000;
  --active-black: rgba(0, 0, 0, 0.3);
  --dark-brown: #503e33;
  --basic-brown: #604e43;
  --light-brown: #766357;
  --basic-grey: #333333;
  --light-grey: #a9a9a9;
  --very-light-grey: #eeeeee;
  --super-light-grey: #e5e5e5;
  --basic-granit: #ababab;
  --basic-granit-active: rgba(171, 171, 171, 0.3);
  --light-granit: #666666;
  --very-light-granit: #cacaca;
  --light-blue: #81b3d2;
  --basic-blue: #669ec0;
  --dark-blue: #5496bd;
  --basic-light: #f2f2f2;
  --dark-light: #ebebeb;
  --basic-white: #ffffff;
  --active-white: rgba(225, 225, 225, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--basic-light)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
  width: 1200px;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}

/* header */

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 1200px;

  background-color: var(--basic-white);
  line-height: 26px;
  font-weight: 700;
}

.logo {
  width: 138px;
  height: 70px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation a {
  display: block;
  padding: 15px;
}

.text-link {
  color: var(--basic-black)
}

.text-link:hover,
.text-link:focus {
  color: var(--basic-blue);
}

.text-link:active {
  color: var(--active-black);
}

/* footer */

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 73px;
  margin-right: 83px;

  background-color: var(--footer-white);
  color: var(--basic-black)
}

.contacts {
  margin-left: 38px;
}

.social {
  background-color: var(--basic-blue);
}

.phone {
  color: var(--basic-black)
}

/* Главная страница */

.main-tagline {
  background-color: var(--basic-blue);
}

.first-heading {
  line-height: 26px;
}

.first-description {
  line-height: 26px;
}

.heading {
  font-size: 21px;
  font-weight: 700;

  color: var(--basic-black)
}

.description {
  color: var(--basic-grey);
}

.main-features {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.interesting {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.interesting-description {
  line-height: 24px;
}

.button {
  font-family: inherit;
  text-transform: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.reservation-button {
  color: var(--basic-white);
  background-color: var(--light-brown);
}

.reservation-button:hover,
.reservation-button:focus {
  background-color: var(--basic-brown);
}

.reservation-button:active{
  background-color: var(--dark-brown);
  color: var(--active-white);
}

.main-form {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  background-color: var(--basic-white);
}

.main-form-text {
  color: var(--basic-black);
}

.main-form-field {
  background-color: var(--basic-light);
  border: inherit;
}

.main-form-field:hover,
.main-form-field:focus {
  background-color: var(--dark-light);
}

.main-form-field:active {
  background-color: var(--basic-white);
  border: 2px solid var(--super-light-grey);
  box-sizing: border-box
}

.information-button {
  color: var(--basic-white);
  background-color: var(--light-blue);
}

.information-button:hover,
.information-button:focus {
  background-color: var(--basic-blue);
}

.information-button:active {
  background-color: var(--dark-blue);
  color: var(--active-white)
}

/* Страница поиска */

.hotels-search {
  background-color: var(--basic-white);
}

.filter {
  background-color: var(--light-granit);
  color: var(--basic-white);
}

.filter-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 73px;
  margin-right: 83px;
}

.filter-type {
  display: flex;
  flex-direction: column;
}

.description-filter {
  font-size: 16px;
  font-weight: 700;
}

.range-filter {
  width: 327px;
}

.range-controls {
  position: relative;
  height: 40px;
  margin-bottom: 13px;
  padding-top: 20px;
  padding-left: 11px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--active-white);
}

.range-controls .bar {
  width: 79%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-granit);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-granit-active);
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 252px;
}

.price-controls {
  display: flex;
}

.price-controls input {
  width: 57px;
  padding-left: 52px;
  padding-right: 49px;
  padding-top: 7px;
  padding-bottom: 8px;
  text-align: center;
  color: var(--basic-white);
  background-color: inherit;
  border: 2px solid var(--basic-white);
  border-radius: 2px;

  font-family: inherit;
  font-size: inherit;
}

.showing-button {
  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
  line-height: inherit;

  background-color: inherit;
  color: inherit;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.showing-button:hover,
.showing-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.description-filter {
  font-weight: 700;
  font-size: 16px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 73px;
  margin-right: 83px;
}

.found {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  font-size: 12px;
  line-height: 18px;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;

  color: var(--active-black);
  border: 0;
  border-bottom: 1px dashed var(--light-blue) ;
}

.sort-link:hover,
.sort-link:focus {
  color: var(--light-blue);
}

.sort-link:active {
  color: var(--basic-black);
  border: 0;
}

.hotels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 73px;
  margin-right: 83px;
}

.found-hotels {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 30px;
}

.detailed {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.rating {
  color: var(--light-granit);
  background-color: var(--basic-light);
}

