:root {
  --basic-black: #000000;
  --active-black: rgba(0, 0, 0, 0.3);
  --dark-brown: #503e33;
  --basic-brown: #604e43;
  --light-brown: #766357;
  --basic-grey: #333333;
  --light-grey: #a9a9a9;
  --very-light-grey: #eeeeee;
  --super-light-grey: #e5e5e5;
  --basic-steel: #ababab;
  --basic-steel-active: rgba(171, 171, 171, 0.3);
  --light-steel: #666666;
  --very-light-steel: #cacaca;
  --light-blue: #81b3d2;
  --basic-blue: #669ec0;
  --dark-blue: #5496bd;
  --basic-light: #f2f2f2;
  --dark-light: #ebebeb;
  --basic-white: #ffffff;
  --active-white: rgba(225, 225, 225, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--basic-light)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding-left: 73px;
  padding-right: 72px;

  max-width: 1200px;
  width: 100%;

  background-color: var(--basic-white);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}

/* header */

.navigation-section {
  background-color: var(--basic-white);
}

.navigation {
  position: relative;

  line-height: 26px;
  font-weight: 700;
}

.logo {
  width: 138px;
  height: 70px;
}

.navigation__logo {
  position: absolute;
  left: calc((100% - 138px)/2);
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.main-navigation__item {
  padding: 15px 0;
  padding-right: 10px;

  display: inline-block;
  width: 227px;

  text-align: left;
}

.main-navigation__item:nth-child(4n+4) {
  padding-left: 10px;
  padding-right: 0;

  text-align: right;
}

.main-navigation__item:nth-child(4n+3) {
  margin-left: 146px;
  padding-left: 10px;
  padding-right: 0;

  text-align: right;
}

.text-link {
  color: var(--basic-black)
}

.text-link:hover,
.text-link:focus {
  color: var(--basic-blue);
}

.text-link:active {
  color: var(--active-black);
}

/* footer */

.about {
  padding-top: 23px;
  padding-bottom: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--footer-white);
  color: var(--basic-black)
}

.contacts {
  padding: 0;
  padding-left: 38px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.contacts p,
.about__creator {
  margin: 0;
}

.contacts p {
  margin-bottom: 9px;
}

.about__creator {
  line-height: 26px;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin: 3px;

  width: 46px;
  height: 48px;

  background-color: var(--basic-blue);
}

.twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.facebook {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
}

.youtube {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
}

.phone {
  color: var(--basic-black)
}

/* Главная страница */

.main-tagline {
  height: 509px;
  padding-top: 77px;
  padding-bottom: 80px;

  background-color: var(--basic-blue);
}

.main-tagline img {
  width: 456px;
  height: 350px;
}

.advantages-section__heading {
  padding-top: 42px;
  padding-bottom: 51px;
}

.first-heading {
  margin-bottom: 45px;

  text-align: center;
  line-height: 26px;
}

.first-description {
  line-height: 26px;
}

.advantages-section {
  padding: 0;
}

.advantages {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.main-advantage {
  grid-column-start: 1;
  grid-column-end: 4;
}

.main-advantage img {
  width: 800px;
  height: 256px;
}

.real {
  grid-row-start: 1;
  grid-row-end: 2;
}

.city {
  display: flex;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.additional-advantages {
  padding: 160px 52px 81px 51px;

  display: flex;
}

.bridge {
  display: flex;
  flex-direction: row-reverse;

  background-color: var(--light-blue);
  color: var(--basic-white);
}

.bridge .main-features {
  padding: 50px 49px 51px 50px;
}

.main-features h3 {
  font-size: 21px;
  font-weight: 700;
}

.visual-advantage {
  padding: 47px 71px 54px 71px;

  background-color: var(--very-light-grey);
}

.heading {
  font-size: 21px;
  font-weight: 700;

  color: var(--basic-black)
}

.description {
  color: var(--basic-grey);
}

.city .main-features {
  padding: 47px 51px 54px 52px;
}

.interesting__section {
  padding-top: 58px;
  padding-bottom: 50px;
}

.interesting__header {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.interesting__description {
  margin: 0;
  line-height: 24px;
}

.button {
  font-family: inherit;
  text-transform: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.reservation-button {
  color: var(--basic-white);
  background-color: var(--light-brown);
}

.reservation-button:hover,
.reservation-button:focus {
  background-color: var(--basic-brown);
}

.reservation-button:active{
  background-color: var(--dark-brown);
  color: var(--active-white);
}

.interesting .reservation-button {
  padding: 29px 138px;
}

.main-form {
  margin: 0 auto 78px auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 568px;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  background-color: var(--basic-white);
}

.main-form-text {
  color: var(--basic-black);
}

.main-form-field {
  background-color: var(--basic-light);
  border: inherit;
}

.main-form-field:hover,
.main-form-field:focus {
  background-color: var(--dark-light);
}

.main-form-field:active {
  background-color: var(--basic-white);
  border: 2px solid var(--super-light-grey);
  box-sizing: border-box
}

.dates {
  padding: 55px;
  padding-bottom: 0;
}

.dates .main-form-field {
  margin-bottom: 29px;
  padding: 6px 13px;

  max-width: 346px;
  width: 100%;
}

.people {
  padding: 55px;
  padding-top: 0;
}

.people .main-form-field {
  margin-bottom: 54px;
  padding: 6px 13px;

  max-width: 114px;
  width: 100%;
}

.information-button {
  color: var(--basic-white);
  background-color: var(--light-blue);
}

.information-button:hover,
.information-button:focus {
  background-color: var(--basic-blue);
}

.information-button:active {
  background-color: var(--dark-blue);
  color: var(--active-white)
}

.interesting .information-button {
  padding: 16px 181px;
}

.map {
  display: none;
  width: 1199px;
  height: 594px;

  background-color: var(--light-grey);
  background-image: url(../img/map.png);
}

/* Страница поиска */

.filter {
  background-color: var(--light-steel);
  color: var(--basic-white);
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.description-filter {
  font-size: 16px;
  font-weight: 700;
}

.filter-form__list {
  font-size: 14px;
  font-weight: 400;
}

.range-filter {
  width: 327px;
}

.range-controls {
  position: relative;
  height: 40px;
  margin-bottom: 13px;
  padding-top: 20px;
  padding-left: 11px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--active-white);
}

.range-controls .bar {
  width: 79%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-steel);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-steel-active);
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 252px;
}

.price-controls {
  display: flex;
}

.price-controls .min-price,
.price-controls .max-price {
  display: flex;
  width: 163px;
  height: 36px;
  padding: 7px 49px 8px 52px;
  text-align: center;
  color: var(--basic-white);
  background-color: inherit;
  border: 2px solid var(--basic-white);
  border-radius: 2px;

  font-family: inherit;
  font-size: inherit;
}

.showing-button {
  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
  line-height: inherit;

  background-color: inherit;
  color: inherit;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.showing-button:hover,
.showing-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.description-filter {
  font-weight: 700;
  font-size: 16px;
}

.sort {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.sort__header {
  margin: 0;
  padding: 29px 46px 31px 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort__type {
  padding-right: 40px;
}

.sort__link {
  margin-right: 33px;

  font-size: 12px;
  line-height: 18px;

  color: var(--active-black);
  border: 0;
  border-bottom: 1px dashed var(--light-blue) ;
}

.sort-link:hover,
.sort-link:focus {
  color: var(--light-blue);
}

.sort-link:active {
  color: var(--basic-black);
  border: 0;
}

.hotels-section {
  padding: 0;
}

.hotels img {
  margin-right: 23px;
  margin-top: 7px;

  grid-row: 1/5;

  width: 135px;
  height: 90px;
}

.hotels {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  padding: 23px 73px 30px 72px;
  text-align: left;
  column-gap: 6px;

  max-width: 1200px;
  width: 100%;

  border: none;
  border-bottom: 1px solid var(--super-light-grey);
}

.hotels__name {
  margin-top: 0;
  margin-bottom: 7px;
  grid-column: 2/4;
}

.hotels__type {
  margin-bottom: 15px;
  grid-column: 2;
}

.hotels__cost {
  margin-bottom: 15px;
  grid-column: 3;
}

.hotels__rating {
  grid-column: 4;
  grid-row: 1;

  text-align: right;
}

.hotels__rating__text {
  padding: 3px 12px 3px 15px;
  grid-column: 4;
  grid-row: 3;

  color: var(--light-steel);
  background-color: var(--basic-light);
}

.hotels__information-button {
  margin: 0;
  grid-column: 2;
}

.hotels__reservation-button {
  margin: 0;
  grid-column: 3;
  max-width: 142px;
}

.hotels-section li:first-child {
  border-top: 1px solid var(--super-light-grey);
}

.detailed {
  padding: 3px 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}


