:root {
  --basic-black: #000000;
  --active-black: rgba(0, 0, 0, 0.3);
  --footer-black: #231f20;
  --dark-brown: #503e33;
  --basic-brown: #604e43;
  --light-brown: #766357;
  --basic-grey: #333333;
  --light-grey: #a9a9a9;
  --very-light-grey: #eeeeee;
  --super-light-grey: #e5e5e5;
  --basic-steel: #ababab;
  --basic-steel-active: rgba(171, 171, 171, 0.3);
  --light-steel: #666666;
  --very-light-steel: #cacaca;
  --light-blue: #81b3d2;
  --basic-blue: #669ec0;
  --dark-blue: #5496bd;
  --basic-light: #f2f2f2;
  --dark-light: #ebebeb;
  --basic-white: #ffffff;
  --active-white: rgba(225, 225, 225, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
  --disabled: #6a6a6a;
  --shadow: rgba(0, 1, 1, 0.15);
  --star-width: 23px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--basic-light)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding-left: 73px;
  padding-right: 72px;

  max-width: 1200px;
  width: 100%;

  background-color: var(--basic-white);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font-family: inherit;
  text-transform: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  border: none;
  cursor: pointer;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.number {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}

/* header */

.navigation-section {
  background-color: var(--basic-white);
}

.navigation {
  position: relative;

  line-height: 26px;
  font-weight: 700;
}

.logo {
  width: 138px;
  height: 70px;
}

.navigation__logo {
  position: absolute;
  z-index: 1;
  left: calc((100% - 138px)/2);
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.main-navigation__item .text-link {
  padding: 15px 0;
}

.main-navigation__item {
  padding: 15px 0;
  padding-right: 10px;

  display: inline-block;
  width: 227px;

  text-align: left;
  vertical-align: baseline;
}

.main-navigation__item:nth-child(4n+4) {
  padding-left: 10px;
  padding-right: 0;

  text-align: right;
}

.main-navigation__item:nth-child(4n+3) {
  margin-left: 146px;
  padding-left: 10px;
  padding-right: 0;

  text-align: right;
}

.text-link {
  color: var(--basic-black);
  cursor: pointer;
}

.text-link:hover,
.text-link:focus {
  color: var(--basic-blue);
}

.text-link:active {
  color: var(--active-black);
}

.text-link--active {
  color: var(--light-brown);
}

/* footer */

.about {
  padding-top: 23px;
  padding-bottom: 33px;

  display: flex;
  justify-content: space-between;

  background-color: var(--footer-white);
  color: var(--basic-black)
}

.footer-main {
  position: absolute;
  bottom: 0;
  left: calc((100% - 1200px)/2);
  margin-top: -120px;
}

.contacts {
  padding: 0;
  margin-left: 52px;
  max-width: 251px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.contacts p,
.about__creator {
  margin: 0;
}

.contacts p {
  margin-bottom: 9px;
}

.about__creator {
  display: flex;
  align-items: center;
  padding-top: 15px;
  margin-right: 65px;
  margin-left: 12px;
  max-width: 198px;

  line-height: 26px;
  height: 64px;
}

.about__creator svg {
  fill: var(--footer-black);
}

.about__creator svg:hover,
.about__creator svg:focus {
  fill: var(--light-blue);
}

.about__creator svg:active {
  fill: var(--active-black);
}

.copyright {
  margin: 0;
  margin-right: 8px;
}

.social {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.social__item {
  display: flex;
  margin: 3px;

  width: 46px;
  height: 48px;

  background-color: var(--light-blue);
}

.social__item svg {
  margin: auto;
}

.social__item svg:active {
  opacity: 0.3;
}

.social__item:hover,
.social__item:focus {
  background-color: var(--basic-blue);
}

.social__item:active {
  background-color: var(--dark-blue);
}

.phone {
  color: var(--basic-black)
}

/* Главная страница */

.main-tagline {
  position: relative;
  height: 509px;
  padding-top: 78px;
  padding-bottom: 79px;

  background-color: var(--basic-blue);
  background-image: url(../img/background-photo.png);
}

.main-tagline img {
  width: 456px;
  height: 350px;
}

.main-tagline::after {
  position: absolute;
  content: url(../img/mask.svg);
  bottom: 0;
  left: 0;

  height: 57px;
}

.advantages-section__heading {
  padding: 42px 20px 51px 20px;
}

.heading {
  margin: 0;
  margin-bottom: 26px;
  font-size: 21px;
  font-weight: 700;

  color: var(--basic-black)
}

.main-features {
  max-width: 400px;
}

.main-features .heading {
  color: var(--basic-white);
}

.description {
  margin: 0;
  color: var(--basic-grey);
}

.first-heading {
  margin-bottom: 45px;

  text-align: center;
  line-height: 26px;
}

.first-description {
  line-height: 26px;
}

.advantages-section {
  padding: 0;
}

.advantages {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.main-advantage {
  grid-column-start: 1;
  grid-column-end: 4;
}

.main-advantage img {
  width: 800px;
  height: 256px;
}

.real {
  grid-row-start: 1;
  grid-row-end: 2;
}

.city {
  display: flex;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.city .main-features {
  padding: 47px 50px 54px 51px;
}

.city p {
  margin: 0;
  margin-top: 25px;
}

.additional-advantages {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 82px;;
  display: flex;
}

.additional-advantages__item {
  padding: 0;
  max-width: 400px;
}

.housing::before {
  content: url(../img/home.svg);
  display: block;
  margin-bottom: 21px;
}

.housing {
  padding: 0 73px;
}

.food::before {
  content: url(../img/food.svg);
  display: block;
  margin-bottom: 23px;
}

.food {
  padding: 0 53px 0 55px;
}

.souvenirs::before {
  content: url(../img/souvenirs.svg);
  display: block;
  margin-bottom: 18px;
}

.souvenirs {
  padding: 0 65px;
}

.bridge {
  display: flex;
  flex-direction: row-reverse;

  background-color: var(--light-blue);
  color: var(--basic-white);
}

.bridge .main-features {
  padding: 50px 48px 51px 50px;
}

.bridge p {
  margin: 0;
  margin-top: 25px;
}

.visual-advantage {
  padding: 47px 69px 56px 70px;

  background-color: var(--very-light-grey);
}

.visual-advantage .heading {
  margin-bottom: 26px;
}

.visual-advantage .description {
  margin-top: 24px;
}

.interesting {
  background-color: var(--basic-white);
  padding: 0;
}

.interesting__section {
  padding: 56px 20px 0 20px;
}

.interesting__header {
  margin: 0;
  margin-bottom: 33px;

  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.interesting__description {
  margin: 0;
  margin-bottom: 43px;
  line-height: 24px;
}

.reservation-button {
  color: var(--basic-white);
  background-color: var(--light-brown);
}

.reservation-button:hover,
.reservation-button:focus {
  background-color: var(--basic-brown);
}

.reservation-button:active{
  background-color: var(--dark-brown);
  color: var(--active-white);
}

.interesting .reservation-button {
  width: 568px;
  padding: 29px 10px 31px 10px;
}

.form-section {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.main-form {
  display: none;
  position: absolute;
  top: 100%;
  margin-bottom: 78px;
  padding: 55px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 568px;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;

  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--shadow);
}

.main-form input::placeholder {
  color: var(--basic-black);
  font-weight: 700;
}

.main-form__block {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-form__people,
.main-form__dates {
  border: none;
  margin: 0;
  padding: 0;
}

.main-form__people {
  padding-bottom: 26px;
}

.main-form-text {
  padding-right: 10px;

  color: var(--basic-black);
}

.main-form-field {
  text-transform: inherit;
  background-color: var(--basic-light);
  border: inherit;
  height: 38px;
  border: 2px solid transparent;
}

.main-form-field:hover {
  background-color: var(--dark-light);
}

.main-form-field:focus {
  background-color: var(--basic-white);
  border-color: var(--super-light-grey);
}

.main-form__dates {
  margin: 0;
}

.main-form__dates .main-form-field {
  padding: 6px 35px 6px 12px;
  width: 346px;
}

.main-form__check-in-date {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
}

.main-form__check-out-date {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
}

.main-form__calendar {
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 17px;

  background-color: transparent;
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 23px;
  border: none;
  cursor: pointer;
}

.main-form__calendar:hover,
.main-form__calendar:focus {
  background-image: url(../img/calendar-focus.svg);
}

.main-form__calendar:active {
  background-image: url(../img/calendar-active.svg);
}

.main-form__input .main-form-field {
  width: 36px;
  text-align: center;
}

.people {
  display: flex;
}

.main-form__number-of-people {
  display: inline-flex;
}

.main-form__adult {
  width: 226px;
  margin-right: 10px;
}

.main-form__children {
  width: 178px;
  margin-left: auto;
}

.main-form__input {
  display: flex;
  background-color: var(--basic-light);
}

.main-form__change-number {
  width: 39px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  cursor: pointer;
}

.main-form__minus {
  background-image: url(../img/minus.svg);
}

.main-form__minus:hover,
.main-form__minus:focus {
  background-image: url(../img/minus-focus.svg);
}

.main-form__minus:active {
  background-image: url(../img/minus-active.svg);
}

.main-form__plus {
  background-image: url(../img/plus.svg);
}

.main-form__plus:hover,
.main-form__plus:focus {
  background-image: url(../img/plus-focus.svg);
}

.main-form__plus:active {
  background-image: url(../img/plus-active.svg);
}

.information-button {
  color: var(--basic-white);
  background-color: var(--light-blue);
}

.information-button:hover,
.information-button:focus {
  background-color: var(--basic-blue);
}

.information-button:active {
  background-color: var(--dark-blue);
  color: var(--active-white)
}

.interesting .information-button {
  padding: 16px 10px 17px 10px;
}

.map {
  padding: 0;
  background-color: var(--light-grey);
  background-image: url(../img/map.png);
  width: 1200px;
  height: 594px;
}

/* Страница поиска */

.filter {
  padding-top: 26px;
  padding-bottom: 5px;

  color: var(--basic-white);
  background-color: var(--light-steel);
  background-image: url(../img/background.png);
}

.filter-form {
  display: flex;
}

.description-filter {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.description-filter__name {
  display: block;
  margin-bottom: 24px;
}

.description-filter__first-name {
  margin-right: 119px;
}

.description-filter__second {
  margin-right: 345px;
}

.filter-form__list {
  font-size: 14px;
  font-weight: 400;
}

.filter-form-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.filter-form-list__item label {
  cursor: pointer;
  user-select: none;
  padding-left: 16px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.filter-form__checkbox {
  content: url(../img/checkbox-off.svg);
}

.checkbox:hover {
  content: url(../img/checkbox-off.svg);
}

.checkbox:checked {
  content: url(../img/checkbox-on.svg);
}

.checkbox:disabled {
  content: url(../img/checkbox-off-disabled.svg);
  cursor: no-drop;
}

.checkbox:checked:disabled {
  content: url(../img/checkbox-on-disabled.svg);
  cursor: no-drop;
}

.checkbox:disabled + label,
.checkbox:checked:disabled + label {
  cursor: no-drop;
  color: var(--disabled);
  padding-left: 5px;
}

.checkbox:checked  + label,
.checkbox:checked:checked  + label {
  padding-left: 12px;
}

.range-filter {
  width: 319px;
  text-align: left;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
  margin-top: 20px;
}

.range-controls .scale {
  position: relative;
  height: 2px;
  background-color: var(--active-white);
}

.range-controls .bar {
  position: absolute;
  left: 14px;
  width: 248px;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  padding: 0;
  width: 4px;
  height: 4px;
  background-color: var(--basic-steel);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: 0 2px 0 0 var(--basic-steel);
  cursor: pointer;
}

.range-controls .toggle-min {
  position: absolute;
  top: -9px;
  left: 0;
}

.range-controls .toggle-max {
  position: absolute;
  top: -9px;
  right: 45px;
}

.range-controls .toggle:active,
.range-controls .toggle:focus,
.range-controls .toggle:hover {
  border: 9px solid var(--basic-white);
  top: -10px;
}

.price-controls {
  position: relative;
  display: flex;

  margin-top: 11px;
  height: 36px;

  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls .min-price,
.price-controls .max-price {
  margin: 0;
  display: flex;
  align-items: center;
  width: 163px;
  height: 32px;
  text-align: center;
  color: var(--basic-white);
  background-color: inherit;
}

.price-controls .min-price {
  padding-left: 66px;
}

.price-controls .max-price {
  padding-left: 49px;
}

.min-price::after {
  display: block;
  content: "";
  position: absolute;
  left: 157px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.price-controls__input {
  margin-left: 3px;
  width: 69px;
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  align-self: center;
  text-decoration: none;
}

.price-controls input::placeholder {
  color: var(--basic-white);
}

.showing-button {
  padding: 6px 34px;
  margin-left: 86px;

  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
  line-height: inherit;

  background-color: inherit;
  color: inherit;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.showing-button:hover,
.showing-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.description-filter {
  font-weight: 700;
  font-size: 16px;
}

.sort {
  display: flex;
  align-items: center;
  padding: 29px 73px 32px 73px;

  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.sort__header {
  margin: 0;
  margin-right: auto;
  padding-right: 46px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort__type {
  display: flex;
  align-items: center;
}

.sort__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.sort__link {
  margin-right: 33px;

  font-size: 12px;
  line-height: 18px;

  color: var(--active-black);
  border: 0;
  border-bottom: 1px dashed var(--light-blue);
}

.sort__link:hover,
.sort__link:focus {
  color: var(--light-blue);
}

.sort__link:active {
  color: var(--basic-black);
  border: 0;
}

.sort__link--active {
  color: var(--light-blue);
  border: none;
}

.sort__type-change {
  margin-top: 9px;
  flex-grow: 1;
  text-align: right;
  min-width: 40px;
}

.sort__type-down {
  margin-left: 9px;
  content: url(../img/icon-down-dir.svg);
}

.sort__type-up {
  content: url(../img/icon-up-dir.svg);
}

.sort__type-down:focus,
.sort__type-down:hover {
  content: url(../img/icon-down-dir-focused.svg);
}

.sort__type-down:active,
.sort__type-down--active {
  content: url(../img/icon-down-dir-active.svg);
}

.sort__type-up:focus,
.sort__type-up:hover {
  content: url(../img/icon-up-dir-focused.svg);
}

.sort__type-up:active {
  content: url(../img/icon-up-dir-active.svg);
}

.hotels-section {
  padding: 0;
}

.hotels img {
  margin: 7px 23px 0px 2px;

  grid-row: 1/5;

  width: 135px;
  height: 90px;
}

.hotels {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  padding: 23px 73px 30px 72px;
  text-align: left;
  column-gap: 5px;

  max-width: 1200px;
  width: 100%;

  border: none;
  border-bottom: 1px solid var(--super-light-grey);
}

.hotels__name {
  margin-top: 0;
  margin-bottom: 7px;
  grid-column: 2/4;

  font-size: 21px;
  line-height: 26px;
}

.hotels__type {
  margin-bottom: 15px;
  grid-column: 2;
  max-width: 110px;
  word-break: break-word;
}

.hotels__cost {
  margin-bottom: 15px;
  padding-left: 1px;
  grid-column: 3;
}

.hotels__rating {
  grid-column: 4;
  grid-row: 1;
  margin-left: auto;

  background-image: url(../img/star.svg);
  align-self: center;
  height: 17px;
}

.hotels__rating__text {
  padding: 3px 13px 3px 15px;
  grid-column: 4;
  grid-row: 3;
  margin-left: auto;
  width: fit-content;

  color: var(--light-steel);
  background-color: var(--basic-light);
}

.hotels__information-button {
  margin: 0;
  grid-column: 2;
  width: fit-content;
}

.hotels__reservation-button {
  margin: 0;
  grid-column: 3;
  width: fit-content;
}

.first-hotel {
  border-top: 1px solid var(--super-light-grey);
}

.detailed {
  padding: 3px 17px 2px 17px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

/* Анимация */

.modal-show {
  display: none;
}

.main-form {
  animation: bounce 0.7s;
}

@keyframes bounce {
  0% {
    transform: translateY(-86px);
  }

  60% {
    transform: translateY(0);
  }

  85% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
